#register {
  width: 350px;
  border: 1px solid #d6d7da;
  padding: 0px 20px 20px 20px;
  border-radius: 5px;
  font-family: arial;
  line-height: 20px;
  color: black;
  font-size: 14px;
  background: #ffffff;
  margin: 100px auto;

  background: url(/home/nineleaps/Desktop/Reactjs/project1/src/Component/pages/Login/image.jpg)  ;
  background-size: cover;
  color: white;
  position: absolute;    
    top:35%;
    height:350px ;
     left: 70%; 
    transform: translate(-50%,-50%);
    padding:40px;
    border-radius: 4px;
  
  
  
}

.page{
  background: url(/home/nineleaps/Desktop/Reactjs/project1/src/Component/pages/Login/image.jpg)  ;
  background-size: cover;
  height:589px;
}

form label, form input {
  display: block;
  margin-bottom: 10px;
  width: 90%
}

form input {
  padding: 10px;
  border: solid 1px #BDC7D8;

}

.button {
  background-color: #00BFFF;
  border-color: #3ac162;
  font-weight: bold;
  padding: 12px 15px;
  color: #ffffff;
  margin-top: 50px;
}

.errorMsg {
  color: #cc0000;
  margin-bottom: 23px;
}

.sucessMsg {
  color: #6B8E23;
  margin-bottom: 10px;
}
.footer {
  position: fixed;
  align-items: center;
  bottom: 0;
  background-color: black;
  color: blanchedalmond;
  width: 100%;

} 