
.xyz{
   
    height: 50%;
}

.toolbar
{   top:0;
    left:0;
    width:100%;
    position:fixed;
    height:70px;
    background-color: rgb(209, 224, 238)   

}
.container-b{
    margin-top: 170px;
    margin-left: 140px;
    
    width:1000px;
    height:250px;
     overflow:auto;
    padding-left: 1.5rem;
    padding-right: 3rem;
    padding-top: 1rem;
    background-color: rgb(88, 153, 228);
    box-shadow: 10px 10px;
    padding-bottom: 1rem;
    }
.jumbotron{
    width:210px;
    height:610px;
    background:rgb(133, 96, 96);
    left: 12px;

top: 131px;
position: absolute;
}
.toolbar_logo img
{
    
    font-size:none;
    text-decoration: none;
  
    
}

.button_space
{

   
    font-size: 4.5rem;
    align-items: flex-end;
    text-align: center;
    display: inline-block;
   

}
.toolbar_navigation
{
    display:flex;
    height:100%;
    align-items: center;
    padding:0 1rem;
}
.spacer
{
    flex:1;
}
.toolbar_navigation-items ul{
    list-style:none;
    margin:0;
    padding:0;
    display:flex;

}

.toolbar_navigation-items li{
   padding: 0 0.5rem;

}
.toolbar_navigation-items a
{color:blue;
text-decoration:none;
}

.toolbar_navigation-items a:hover,
.toolbar_navigation-items a:active
{

    color:rgb(78, 9, 32);
}

 
.actualthree{
    
    text-align: center;
    display: inline-block;
    font-size: 1rem;
    display:flex;  
    justify-content:center; 
    align-Items:center;
    margin-top:3rem;

   }
   .alignnew{
       justify-content:center; 
    align-Items:center;

   }
   .overflow{
    padding-left: 3rem;
    padding-right: 3rem;    
    overflow-x: auto;
    overflow-y: auto;
    left: 10px;
    top: 106px;
    position: absolute;
    padding-top: 2rem;
    padding-bottom: 2rem;
    

        }

.overflowone{
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    overflow-x: auto;
    overflow-y: auto;
    left: 50px;
  
}

.overflownew{
    
    padding-top: 3rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    overflow-y: hidden;
   
}

.container{
    left: 5px;
    right:10px;
    top: 206px;
    position: absolute;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.box
{
    width:80%;
    overflow-y: auto;
}

.column-layout
{
    margin-top: 10rem;
    
   
}
.well{
    box-shadow: "1px 3px 1px #9E9E9E";
    margin-top: 10rem;
    justify-content: center;
    }


.pad
{
    margin-right: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
   padding-right: 10rem;
}

.spacing
{
    
    padding:2rem;

}

.fixed header{
    width: 400px;
    table-layout: fixed;
    border-collapse: collapse;
}

.fixed data{
  display:block;
  width: 100%;
  overflow: auto;
  height: 100px;
}