
   .abc{
   
     
      background-color:#364258;
     background-size: inherit;
      min-height: 100vh;
      display: flex ;
  
   }
  .aasection {
    height: 100%;
    width: 100%;
  }
  
   .left-half {
  
   
    float: left;
    width: 40%;
    margin-left: 8rem;
    
    
  }
  .right-half {
    
    
    background-color: white;
    margin-top:5rem;
    margin-right:8rem;
    float:right;
    width: 40%;


  }
  .right-cards{
   
    height: 465px;
    overflow-y: scroll;
  }
  .cardView{
    width: fit-content
  }
  .checklistCard{
    height:'auto';
    background-color:'#e6e6e6';
   
  }
  .textStyle{
    font-size: 20px;
    font-weight: 600;
    padding-top: 10px;
    margin: 10px;
    color: black;
  }

  .background_img{
   
    margin-top: 4.1rem;
    background-color:#364258;
    overflow:auto;
    padding-bottom: 5rem;
}